/*
* Declarations of fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    color: $black-primary;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: $black-primary;
}

a, span, h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', sans-serif;
    color: $black-primary;
}

h2, h3, h4, h5, h6 {
    scroll-margin-top: 40px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.4em;
    font-weight: 800;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
}