.header {
    padding: 10px 0;
    background-color: #ffff;
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px;

        &__logo {
            
            img {
                width: 150px;
            }
        }

        &__menu {
            display: flex;
            align-items: center;
            
            > ul {
                list-style-type: none;
                display: flex;
                margin: 0 20px 0 0;

                > li {
                    padding: 10px 20px;

                    &:hover {
                        border-bottom: 2px solid $black-primary;
                    }

                    a {
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
            }
        }

        &__burger {
            display: none;
            cursor: pointer;
        }

        &__overlay {
            display: none;
        }
    }
}


/* Small devices */

@media screen and (max-width: 1050px) {
    .header {
        position: sticky;
        z-index: 11;
        top: 0;

        &__container {
            display: flex;
            align-items: center;
    
            &__menu {
                padding: 80px 40px;
                display: none;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                width: 0;
                animation: grow0 0.7s forwards;
                height: 100vh;
                position: absolute;
                z-index: 9;
                top: 0;
                right: 0;
                background-color: $white-primary;
                transition: all 0.4s ease-in-out;
                
                @keyframes grow0 {
                    from {
                      width: 10%;
                    }
                    to {
                      width: 90%;
                    }
                }

                > ul {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    margin-bottom: 40px;

                    > li {
                        padding: 20px 0px;
                        display: block;
    
                        &:hover {
                            border-bottom: none;
                        }
    
                        a {
                            color: $black-primary;
                            font-size: 26px;
                            font-weight: 700;
                        }
                    }
                }
            }

            > .show-nav {
                width: 90%;
                height: 100%;
                position: fixed;
                display: flex;

                button {
                    color: $white-primary;
                }

                + .header__container__burger {
                    position: fixed;
                    right: 40px;
                }

                + .header__container__burger span {
                    width: 0;
                    background: transparent;

                    &::before {
                        transform: rotate(45deg);
                    }

                    &::after {
                        transform: rotate(-45deg);
                    }
                }

                + .header__container__burger p {
                    display: none;
                }

                + .header__container__burger + .header__container__overlay {
                    display: flex;
                    width: 100%;
                    height: 100vh;
                    position: fixed;
                    z-index: 8;
                    bottom: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.8);
                }
            }

            &__burger {
                margin-top: 20px;
                display: block;
                position: relative;
                padding: 0;
                width: 35px;
                height: 35px;
                border: none;
                background: transparent;
                cursor: pointer;
                z-index: 10;

                > span {
                    display: block;
                    width: 35px;
                    height: 5px;
                    background-color: $black-primary;
                    border-radius: 1px;
                    transition: all 0.4s ease-in-out;

                    &::before, &::after {
                        content: '';
                        width: 35px;
                        height: 5px;
                        position: absolute;
                        left: 0;
                        background-color: $black-primary;
                        border-radius: 1px;
                        transition: all 0.4s ease-in-out;
                    }

                    &::before {
                        transform: translateY(-12px);
                    }

                    &::after {
                        transform: translateY(12px);
                    }
                }

                p {
                    display: block;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 400;
                }
            }
        }
    }
}

